C:/Users/Han/Documents/Cornell/"Cornell Fall 2015"/"ECE 2200"/Shazam/partITestDatabase
C:/Users/Han/Documents/Cornell/"Cornell Fall 2015"/"ECE 2200"/Shazam/songDatabase
songDatabase/
partITestDatabase/
